*.conf
*.crt
*.csr
*.db-journal
*.key
*.pid
*.xml
._.DS_Store
.DS_Store
.uuid
__pycache__/
deps
gtfs
*.db
home-assistant.log
known_devices.yaml
lib
OZW_Log.txt
pyozw.sqlite
secrets.yaml
tts
www
.spotify-token-cache
zones/
.cloud/
.homekit.state
.config_entries.json
